@font-face {
  font-family: "norsebold";
  src: url(fonts/norse-bold-webfont.woff2) format("woff2"), url("fonts/norse-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  display: flex;
  flex-direction: column;
}

a:link,
a:visited {
  color: white;
}

.odin {
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("photos/halie-west-leaf.jpg");
}

.title-container {
  height: 150px;
  width: 100%;
  margin-top: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
}

img {
  height: 8rem;
}

h1 {
  color: white;
  padding: 0px;
  margin: 0px;
  font-family: "norsebold", sans-serif;
  font-size: 5rem;
}

.footer {
  color: white;
  font-size: 0.7rem;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  align-self: center;
  margin-top: auto;
}

@media only screen and (min-width: 700px) {
  body {
    flex-direction: row;
  }

  .odin {
    height: 100%;
    max-width: 32em;
    align-items: initial;
    background-size: cover;
    background-position: center;
  }

  .title-container {
    margin-top: 250px;
  }
}
