@font-face {
  font-family: "norsebold";
  src: url(fonts/norse-bold-webfont.woff2) format("woff2"), url("fonts/norse-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  display: flex;
  flex-direction: column;
}

.footer a:link,
.footer a:visited {
  color: white;
}

.odin {
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("photos/halie-west-leaf.jpg");
}

.title-container {
  height: 150px;
  width: 100%;
  margin-top: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
}

img {
  height: 8rem;
}

h1 {
  color: white;
  padding: 0px;
  margin: 0px;
  font-family: "norsebold", sans-serif;
  font-size: 5rem;
}

.footer {
  color: white;
  font-size: 0.7rem;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  align-self: center;
  margin-top: auto;
}

.form-container {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  margin-left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #F6F7F8;
}

form {
  display: flex;
  background-color: #FFFFFF;
  flex-direction: column;
  padding-top: 5%;
  padding-bottom: 5%;
  row-gap: 20px;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-shadow: 0px 1px 3px grey;
}

legend {
  font-size: 1.3rem;
}

.form-header {
  width: 80%;
  margin-bottom: 40px;
  margin-top: 0;
}

.form-row label {
  font-size: 0.8rem;
}

.form-row {
  display: flex;
  flex-direction: column;
}

.form-row input {
  max-width: 250px;
  height: initial;
  border: 1px solid #E5E7EB;
}

.form-row input:focus {
  outline: 2px solid #596D48;
  box-shadow: 5px 5px 3px grey;
}

.form-footer {
  padding-top: 40px;
}

.form-footer a {
  color: #596D48;
  text-decoration-line: none;
}

.submit {
  padding: 1rem 3rem;
  border-radius: 15px;
  border: none;
  font-weight: bold;
  background-color: #596D48;
  outline: none;
  color: #F6F7F8;
  cursor: pointer;
  box-shadow: 0 6px #404E34;
}

.submit:hover {
  background-color: #4C5D3D;
}

.submit:active {
  background-color: #4C5D3D;
  box-shadow: 0 3px #36422C;
  transform: translateY(3px);
}

@media only screen and (min-width: 750px) {
  body {
    flex-direction: row;
  }

  .odin {
    height: 100%;
    margin-right: 0;
    max-width: 45%;
    align-items: initial;
    background-size: cover;
    background-position: center;
  }

  .title-container {
    margin-top: 250px;
  }

  .form-container {
    align-items: initial;
  }

  .form-header {
    padding-left: 5%;
  }

  form {
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 5%;
    padding-right: 5px;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
  }

  legend {
    grid-column: span 2;
  }

  .form-footer {
    padding-top: 40px;
    margin-top: 45px;
    padding-left: 5%;
  }
}
